<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Portal randkowy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Użytkownicy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Polubienia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Wiadomości</a>
      </li>
    </ul>
    <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()">
      <input class="form-control mr-sm-2" type="text" placeholder="Użytkownik" name="username" [(ngModel)]="model.username" required />
      <input class="form-control mr-sm-2" type="text" placeholder="Hasło" name="password" [(ngModel)]="model.password" required />
      <button [disabled]="!loginForm.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Zaloguj</button>
    </form>
</nav>